:root {
	--main-color:#212121;
	--secondary-color:#757575;
	--third-color:#fff;
	--four-color:#2196F3;
	--five-color:#F5F4FA;
	--six-color:#2F303A;
	--seven-color:#eee;
	--eight-color:#ccc;
	--nine-color:#AFB1B8;
}
body {
	font-size:14px;
	font-weight:400;
	font-style:normal;
	font-family:'Roboto', sans-serif;
}
ul,ol {
	margin-top:0;
	margin-bottom:0;
	padding-left: 0;
}

section {
	padding-top: 94px;
}
/*--HEADER--START--*/
.container {
	width:1200px;
	margin:0 auto;
}
.top-menu  {
	height:80px;
	width:1200px;
	display:flex;
	flex-direction: row;
}
.top-menu a {
font-weight: 500;
letter-spacing: 0.02em;
text-align: left;
color:var(--main-color);
text-decoration:none;
padding-top:32px;

}
.logo  {
	height:80px;
	width:250px;
	float:left;
	display:inline-block;
}
.top-menu a.logo   {
	width:250px;
	color:var(--four-color);
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	font-weight: 700;
	line-height: 0.84;
	letter-spacing: 0.03em;
	text-align: left;
	padding-top:24px;	
}
.logo-color-black {
	color:var(--main-color);
}
.logo-color-white{
	color:var(--third-color);
}
.center-top.right-top a:hover {
	color:var(--four-color);
}
.center-top.right-top a:focus {
	color:var(--four-color);
}
.center-top.right-top a:active {
	color:var(--four-color);
}
ul.center-top {
	height:80px;
	width:450px;
	display: inline-block;
}
li.center-top {
 height:80px;
 width:auto;
 display:inline-flex;
 padding-top:0;
 margin-top:0;
 margin-left:30px;
}
.center-top a {
	padding-top:32px;
}
ul.right-top {
	height:80px;
	width:400px;
	display:flex;
	float:right;
}
li.right-top {
	float:right;
	width:auto;
	margin-left:30px;
	display:inline-block;
	list-style:none;
	margin-top:32px;
}
a.right-top {
	color:var(--secondary-color);
}
.icon:hover {
	fill:var(--four-color);
}
/*--HEADER--END--*/
/*--MAIN--HERO-START--*/
/*index.html*/

.hero  {
	height:600px;
	background-color:var(--six-color);
	background-image: url(./18.jpg);
	padding-top:0;
}
.hero  h1 {
	padding-top:200px;
	font-size: 44px;
	font-weight: 900;
	line-height: 0.73;
	letter-spacing: 0.06em;
	text-align: center;
	color:var(--third-color);
	margin-top:0;
	margin-bottom:15px;
	text-transform:uppercase;

	
}
.hero  button {
	height:50px;
	width:200px;
 	margin-left:532px;
	background: #2196F3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	line-height: 0.53;
	letter-spacing: 0.06em;
	text-align: center;
	color:var(--third-color);
	
}
.info h2 {
	visibility:hidden;
}
.info ul {
	height:279px;
	display:flex;
	flex-direction: row;
}
.info li {
	display:inline-block;
	width:250px;
	margin-left:30px;
}
.info h3 {
font-weight: 700;
letter-spacing: 0.03em;
text-align: left;
}
.info p {
	line-height: 24px;
	letter-spacing: 0.03em;
	text-align: left;
	color:var(--main-color);

	
}
.info-icon {
	width: 270px;
	height: 120px;
	background-color:var(--eight-color);
	border-radius: 4px;
}
.info-icon img {
	height:120px;
	width: %100;
	display:flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
}
.img {
	height:auto;
	max-width:100%;
	padding-top: 0;
	display:block;
}
.img ul {
	padding-top:92px;
	padding-bottom: 94px;
	height:auto;
	width:1200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.img li {
		display:inline-block;
}
.img h2 {
	margin:0 auto;
	font-size: 36px;
	font-weight: 700;
	line-height: 0.86;
	letter-spacing: 0.03em;
	text-align: center;
	color:var(--main-color);

}
.img img {
	width:370px;
	height:294px;
	height:auto;
	max-width:100%;
	padding-top: 0;
	display:block;
	
}
.person {
	height:648px;
	background-color: var(--five-color);
}
.person h2 {
margin: 0 auto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 0.86;
letter-spacing: 0.03em;
text-align: center;
color:var(--main-color);
padding-bottom:50px;

}
.person h3 {
	font-size: 16px;
	font-weight: 500;
	line-height: 0.8;
	letter-spacing: 0.03em;
	text-align: center;
	color:var(--main-color) ;

}
.person p {
font-size: 16px;
line-height: 0.8;
letter-spacing: 0.03em;
text-align: center;
color:var(--secondary-color);

}
.person ul {
	width:1200px;
	height:435px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.person li {
			display:inline-block;
			background-color:var(--third-color);

}
.person  img {
	width:270px;
	height:260px;
}
ul.social  {
	height:90px;
	width:270px;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;

}
li.social   {
	height:44px;
	width:44px;
	display:flex;
	justify-content: center;
	align-items: center;
	width:100%;
}

.social li:hover {
	border-radius: 50%;
	background-color: var(--four-color);
}
.social svg:focus {
	background-color: var(--four-color);
}
.clients {
	height:372px;
}
.clients h2 {
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 0.86;
letter-spacing: 0.03em;
text-align: center;
color:var(--main-color);
margin-top: 0;
margin-bottom: 0;
margin-bottom: 50px;

}
.clients ul {
	display: flex;
	flex-direction: row;

}
.clients li {
	height:92px;
	width:170px;
	display: inline-flex;
	border: 1px solid var(--nine-color);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 30px;


}
.clients a:hover {
	stroke:var(--nine-color);
}
.clients a:focus {
	stroke:var(--nine-color);
}
/*index.html-END-*/
/*portfolio.html*/
.top-filters {
	padding-top:100px;
	margin:0 auto;
}
.top-filters ul {
		margin:0 auto;

}
.top-filters li {
	width:145px;
	height:38px;
	list-style:none;
	text-decoration:none;
	display:inline-block;
}
.top-filters a {
	width:145px;
	height:38px;
	text-decoration:none;
	font-size: 16px;
	font-weight: 500;
	line-height: 0.6;
	letter-spacing: 0.03em;
	text-align: center;
	color:var(--main-color);
	background: var(--five-color);;
	border-radius: 4px;

}
.content ul {
	list-style:none;
	text-decoration:none;
	display:inline-block;
}
.content li {
	list-style:none;
	text-decoration:none;
	display:inline-block;
}
.content h3 {
font-size: 18px;
font-weight: 700;
line-height: 0.5;
letter-spacing: 0.06em;
text-align: left;
color:var(--main-color);
margin-left:15px;

}
.content p {
font-size: 16px;
line-height: 0.5;
letter-spacing: 0.03em;
text-align: left;
color: var(--secondary-color);
margin-left:15px;

}
.content img {
	width: 370px;
	height: 294px;
}
/*portfolio.html-END-*/
/*--MAIN--HERO-END--*/

/*--FOOTER--START--*/
.footer {
	background-color:var(--six-color);;
	display: flex;
}
.left-bottom {
	width:300px;
	float:left;
}
.left-bottom.logo a   {
	width:250px;
	color:var(--four-color);
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: 0.8;
	letter-spacing: 0.03em;
	text-align: left;
	padding-top:24px;	
}
.left-bottom a {
	line-height:0.6;
	letter-spacing: 0.03em;
	text-align: left;

}
.left-bottom ul {
	padding-top:111px;
	background-color:var(--six-color);
}
.left-bottom li {
	list-style:none;
}

li.adress {
font-weight: 400;
line-height: 0.6;
letter-spacing: 0.03em;
text-align: left;
color: var(--third-color);

}
li.email-phone {
line-height: 0.6;
letter-spacing: 0.03em;
text-align: left;
color:var(--secondary-color);
}
.center-bottom {
float:left;
width:300px;
}
.center-bottom h3 {
padding-top: 32px;
font-weight: bold;
line-height: 0.9;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--third-color);
}
.center-bottom a {
	
}
.center-bottom ul {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items:center;
	padding-left: 0;
}
.center-bottom li {
	display:flex;
	justify-content:center;
	align-items:center;
	list-style: none;
	height:44px;
	width:44px;
}
/*--FOOTER--END--*/
