:root {
	--main-color:#212121;
	--secondary-color:#757575;
	--third-color:#fff;
	--four-color:#2196F3;
	--five-color:#F5F4FA;
	--six-color:#2F303A;
	--seven-color:#eee;
	--eight-color:#AFB1B8;
	--nine-color:#ECECEC;
	--ten-color:#44454e;
}

body {
	font-size:14px;
	font-weight:400;
	font-style:normal;
	font-family:'Roboto', sans-serif;
}
ul,li {
	margin-top:0;
	margin-bottom:0;
	padding-left: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
p {
	margin:0;
}
h1,h2,h3,h4,h5,h6 {
	margin:0;
}
.container {
	width:1200px;
	margin:0 auto;
	padding: 0 15px;
}
section {
	padding-top: 94px;
	padding-bottom:94px;
}
img {
	display:block;
	height:auto;
	max-width:100%;
}
.margin {
margin-left:0;	
}
/*--HEADER--START--*/
.header {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}
.menu {
	display:flex;
	height:80px;
	border-bottom:1px solid var(--nine-color);
}
.menu ul {

	display:inline-flex;
}
.menu a:hover {
	color:var(--four-color);
}
.menu a:focus {
	color:var(--four-color);
}
.logo-top  {
	color:var(--four-color);
	float:left;
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: left;
	padding-top: 27px;
}
.logo-color-black {
	color:var(--main-color);
}
.navigation{
	display: inline;
    margin-right: 0;
    width: 400px;
    padding-left: 0;
}
.navigation-list  {
	display:inline-block;
	padding-top: 33px;
}
.navigation-item:first-child {
    margin-left: 93px;
}
.navigation-item  {
	display:inline;
	margin-left:50px;
}
.navigation-link  {
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color:var(--main-color);
    text-decoration:none;
    list-style: none;
   	padding-top:33px;
    position:relative;
    }
.top-list {
	display:inline-flex;
	margin-left: 250px;
}
.right-item {
	display:inline-block;
	margin-left:45px;
	float:right;
}
.contact-link {
font-weight: 500;
letter-spacing: 0.02em;
text-align: left;
text-decoration:none;
color:var(--secondary-color);
display:flex;
align-items:center;
}
.top-icon {
margin-right:10px;
fill:var(--eight-color);
}
.right-item:hover .contact-link {
	color:var(--four-color);
}
.right-item:hover .top-icon {
	fill:var(--four-color);
}
.right-item:focus {
	color:var(--four-color);
}
.right-item:focus .top-icon {
	fill:var(--four-color);
}
.current {
	color:var(--four-color);
}
/*--HEADER--END--*/
/*--MAIN--HERO-START--*/
/*index.html*/

.hero  {
	background-image: url(../images/18.jpg);
	padding-top:200px;
	padding-bottom:200px;
	text-align:center;
	max-width:1600px;
	color: rgba(47, 48, 58, 0.4);
	opacity:0.9;
}
.hero-title {
	font-size: 44px;
	font-weight: 900;
	line-height: 1.4;
	letter-spacing: 0.06em;
	text-align: center;
	color:var(--third-color);
	margin:0 auto;
	margin-bottom:15px;
	width:700px;
	text-transform:uppercase ;

	
}
.hero  button {
	height:50px;
	width:200px;
	background: var(--four-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	line-height: 0.53;
	letter-spacing: 0.06em;
	text-align: center;
	color:var(--third-color);
	border:none;
	
}
.info {
	padding-bottom:0;
}
.info h2 {
	display: none;
}
.info-list {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}
.info-item  {

	width:270px;

}
.info h3 {
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-align: left;
	color:var(--main-color);
	margin-top:30px;
	margin-bottom:15px;

}
.info p {
	line-height: 24px;
	letter-spacing: 0.03em;
	text-align: left;
	color: var(--secondary-color);

	
}
.info-icon {
	width: 270px;
	height: 120px;
	background-color:var(--five-color);
	display:flex;
	justify-content: center;
	align-items: center;
}
.info-icon-use {
}
.img {
	height:auto;
}
.img-list  {
	margin-top:50px;
	height:auto;
	width:1200px;
}
.img-item {
		display:inline-block;
		margin-right:26px;
}
.img-item:last-child {
margin-right:0;	
}
.img h2 {
	margin:0 auto;
	font-size: 36px;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--main-color);

}
.img img {
	width:370px;
	height:294px;
	
}
.person {
	background-color: var(--five-color);
}
.person h2 {
margin: 0 auto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
color:var(--main-color);
padding-bottom: 50px;

}
.person h3 {
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0.03em;
	text-align: center;
	color:var(--main-color) ;
	margin-top:30px;
	margin-bottom:15px;

}
.person-title-h4 {
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
color:var(--secondary-color);
margin-bottom:20px;
font-weight:400;
}
.person-list  {
	width: 1200px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.person-item  {
			display:inline-block;
			background-color:var(--third-color);
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
	width:270px;
	padding:0 26px;
	box-sizing: border-box;
}
.person  img {
	width:270px;
	height:260px;
}
.social-list  {
	width:270px;
	display:inline-block;
	margin-bottom:30px;
}
.social-item:first-child {
margin-left:0;	
}
.social-item  {
	height:44px;
	width:44px;
	display:inline-block;
	margin-left:10px;
}
.social-link  {
  height:20px;
  width:20px;
  display: block;
padding:12px;
}
.social-icon {
	fill:var(--eight-color);
}
.social-item:hover{
	border-radius: 50%;
	background-color: var(--four-color);
}
.social-item:hover .social-icon  {
	fill:var(--third-color);
}
.clients {
}
.clients h2 {
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
color:var(--main-color);
margin-top: 0;
margin-bottom:50px;

}
.clients-list  {
	display: flex;
	flex-direction: row;

}
.clients-item  {
	height:92px;
	width:170px;
	display: inline-flex;
	border: 1px solid var(--eight-color);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 30px;
}

.clients-icon {
	fill:var(--eight-color);
}
.clients-item:hover .clients-icon {
	fill:var(--four-color);
}
.clients-item:hover  {
	border: 1px solid var(--four-color);
}
/*index.html-END-*/
/*portfolio.html*/
.filters {
	margin:0 auto;
}
.filters-title {
	display:none;
	margin:0 auto;
}
.filters-list  {
		display: flex;
		flex-direction: row;
		justify-content: center;

}
.filters-item  {
	list-style:none;
	text-decoration:none;
	display:inline-block;
	margin-right:8px;
}
.filters-item:last-child {
margin-right:0;	
}
.filters-link {
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0.03em;
	text-align: center;
	color:var(--main-color);
	background: var(--five-color);
	border-radius: 4px;
	padding:6px 22px;
	border:none;

}
.filters-link:hover {
background-color: var(--four-color);
color:var(--third-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filters-link:focus {
	background-color: var(--four-color);
	color:var(--third-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
.content-list  {
	display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-column-gap: 30px;
	margin-top:50px;
}
.content-item  {
	list-style:none;
	text-decoration:none;
	display:inline-block;
	border:1px solid var(--seven-color);
	margin-bottom:30px;
}
.block {
padding-top:20px;
	padding-bottom:20px;
	padding-left:24px;
}
.content-title {
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
color:var(--main-color);

}
.content-paragraf {
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
color: var(--secondary-color);

}
.content img {
	width: 370px;
	height: 294px;
}
.content-item:hover {
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%), 1px 4px 6px rgb(0 0 0 / 16%);	
}
.content-item:focus {
	    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%), 1px 4px 6px rgb(0 0 0 / 16%);
}
/*portfolio.html-END-*/
/*--MAIN--HERO-END--*/

/*--FOOTER--START--*/
.footer {
	background-color:var(--six-color);
	display: flex;
    	flex-direction: row;
	padding:60px 0;
}
a.logo-bottom {
	color:var(--four-color);
	float:left;
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-align: left;
}
.logo-color-white {
	color:var(--third-color);
}
.left {
	display: flex;
    flex-direction: column;
}
.left a {
	text-decoration: none;
	}
.left ul {
	background-color:var(--six-color);
}
.left li {
	list-style:none;
}
.adress {
	margin-top:20px;
}
a.adress {
line-height: 1.7;
letter-spacing: 0.03em;
text-align: left;
color: var(--third-color);
	font-style:normal;
	margin-top:6px;

}
a.email-phone {
line-height: 1.7;
letter-spacing: 0.03em;
text-align: left;
color:var(--ten-color);
font-style:normal;
margin-top:9px;
}
a.email-phone:hover {
	color: var(--four-color);
}
a.email-phone:focus {
	color: var(--four-color);
}
.center {
    display: flex;
    flex-direction: column;
	margin-left:70px;
}
.center-title {
font-weight: bold;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--third-color);
	margin-bottom:20px;
}

.center ul {
	padding-left: 0;
}
.center li {
	height:44px;
	width:44px;
	border-radius: 50%;
    background-color: var(--secondary-color);
}
a.center {
	height:20px;
	width:20px;

}
a.center:hover  {
	background-color: var(--four-color);
	border-radius: 50%;
}
..social-item-bottom  {
	height:44px;
	width:44px;
	display:inline-block;
	margin-left:10px;
	border-radius: 50%;
    	color: var(--secondary-color);
}
.footer-social-icon {
	fill:var(--third-color);
.footer-list {
	display:flex;
}

/*--FOOTER--END--*/
